* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #2aa5a5;
  }
  
  .container {
    display: grid;
    place-items: center;
  }
  
  .lights {
    width: 100px;
    height: 200px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-color: #2c3e50;
    padding: 10px;
  }
  
  .light {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .light::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-right: 4px solid rgba(255, 255, 255, 0.6);
    top: 5%;
  }
  
  .stick {
    width: 8px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .floor {
    width: 300px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 1px #a5682a;
  }
  
  .red {
    background-color: red;
    box-shadow: 0 0 10px 1px red;
  }
  
  .yellow {
    background-color: yellow;
    box-shadow: 0 0 10px 1px yellow;
  }
  
  .green {
    background-color: green;
    box-shadow: 0 0 10px 1px green;
  }
  
  .purple {
    background-color: purple;
    box-shadow: 0 0 10px 1px purple;
  }
  
  .glow {
    box-shadow: 0px 0px 9px 4px yellow;
  }
  
  .randomButton button {
    color: #fff;
    padding: 15px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-bottom: 10px;
  }
  .purpleButton button {
    color: #fff;
    padding: 15px 25px;
    background-color: #6900a7;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-bottom: 80px;
  }